<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Recipt</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>

</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/">メインページ</a></li>
                <li><a href="/shop">店舗登録</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="/admin">管理画面</a></li>
            </ul>
        </div>
    </nav>
    <section class="uk-padding">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block content %}{% endblock %}
    </section>
</body>

</html>