{% extends 'base.html' %}
{% block header %}
<h1 class="uk-heading-line"><span>{% block title %}購入品登録:{{ shop_name }}{% endblock %}</span></h1>
{% endblock %}
{% block content %}
<form method="post">
    <input type="date" class="uk-input uk-form-large uk-form-blank uk-form-width-small" name="date">
    <table class="uk-table uk-table-small">
        <thead>
            <tr>
                <th class="uk-width-2-3">品名</th>
                <th>価格</th>
                <th>割引</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(8) %}
            <tr>
                <td><input type="text" name="name" class="uk-input" ></td>
                <td><input type="number" name="price" value="0" class="uk-input uk-text-right"></td>
                <td><input type="number" name="discount" value="0" class="uk-input uk-text-right"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="uk-button uk-button-default" type="submit">登録</button>
</form>
{% endblock %}