{% extends 'base.html' %}
{% block header %}
<h1 class="uk-heading-line"><span>{% block title %}購入品登録:{{ shop_name }}{% endblock %}</span></h1>
{% endblock %}
{% block content %}
<form method="post">
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th>#</th>
                <th>品名</th>
                <th>価格</th>
                <th>割引</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><input class="uk-input" type="text" name="name"></td>
                <td><input class="uk-input" type="number" name="price"></td>
                <td><input class="uk-input" type="number" value="0" name="discount"></td>
            </tr>
        </tbody>
    </table>
    <button class="uk-button uk-button-default" type="submit">登録</button>
</form>
{% endblock %}