{% extends 'base.html' %}
{% block header %}
<h1 class="uk-heading-line"><span>{% block title %}購入品登録:{{ shop_name }}{% endblock %}</span></h1>
{% endblock %}
{% block content %}
<form method="post">
    <fieldset class="uk-fieldset uk-margin">
        <label for="name">品名 : </label>
        <input class="uk-input uk-form-width-medium" type="text" id="name" name="name">
        <label for="price">価格 : </label>
        <input class="uk-input uk-form-width-medium" type="number" id="price" name="price">
        <label for="discount">割引 : </label>
        <input class="uk-input uk-form-width-medium" type="number" id="discount" value="0 "name="discount">
    </fieldset>
    <button class="uk-button uk-button-default" type="submit">登録</button>
</form>
{% endblock %}