{% extends 'base.html' %}
{% block header %}
<h1 class="uk-heading-line"><span>{% block title %}店舗登録{% endblock %}</span></h1>
{% endblock %}
{% block content %}
<form method="post">
    <label for="name">店舗名 : </label>
    <input class="uk-input uk-form-width-medium" type="text" id="name" name="shop_name">
    <button class="uk-button uk-button-default" type="submit">登録</button>
</form>
<table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>id</th>
            <th>店舗名</th>
        </tr>
    </thead>
    <tbody>
        {% for shop in shops %}
        <tr>
            <td>{{ shop['id'] }}</td>
            <td>{{ shop['name'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}